<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Save csv in database</title>
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% if employes %}
            Empleados:
            <ul>
                {% for employe in employes %}
                    <li><a>{{ employe.fullname }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay empleados registrados.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "my-view" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ message }}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.csv.label_tag }} {{ form.csv.help_text }}</p>

            <p>
                {{ form.csv.errors }}
                {{ form.csv }}
            </p>
            <button type="submit" class="btn btn-success btn-lg">Registrar usuario</button>
        </form>
    </body>
</html>
